* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    font-size: 1.1rem;
    color: #333;
    background-color: #fff;
}

header {
    margin: 1rem auto;
    width: 650px;
}

h1 {
    text-align: center;
    color: navy;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    gap: 0.75rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
}

legend {
    color: navy;
    padding: 0.5rem;
    font-size: 1.2rem;
}

label,
input,
button,
select,
textarea {
    font-family: Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.form-item {
    display: grid;
    align-items: center;
    gap: 0.5rem;
}

.form-item label[for="feedback"] {
    text-align: center;
    padding-right: 0;
    margin-bottom: 0.5rem;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

button {
    margin: 1rem;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

footer {
    width: 650px;
    margin: 1rem auto;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #ccc;
    padding-top: 0.5rem;
}